@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&family=Quintessential&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: radial-gradient(#1e8fa5, #08506b, black) no-repeat;
    width: 100%;
    height: 100vh;
}
body, .container .display, .buttons, .buttons .button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 320px;
    height: 600px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.4),
    10px 15px 15px rgba(0, 0, 0, 0.3),
    10px 25px 20px rgba(0, 0, 0, 0.2);
}
.container .display{
    background-color: black;
    color: white;
    flex-direction: column;
    height: 200px;
    width: 100%;
    border-radius: 8px 8px 0 0;
}
.container input{
    width: 240px;
    text-align: center;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    font-family: 'Balsamiq Sans', cursive;

}
.container .display .operation{
    font-size: 16px;
    margin-bottom: 30px;
}
.container .display .result{
    font-size: 38px;
    margin-bottom: -30px;
    border-bottom: 1px solid white;
}
.allButtons{
    width: 100%;
    height: 400px;
    background: linear-gradient(120deg,#e66465, #9198e5);
}
.buttons{
    width: 100%;
    height: 80px;
    font-family: 'Architects Daughter', cursive;
}
.buttons .button{
    color: white;
    width: 80px;
    height: 100%;
    font-size: 20px;
    border: 1px solid #ecf0f1;
    cursor: pointer;
    filter:  brightness(75%);
    transition: .2s all;
}
.buttons .button:hover{
    filter:  brightness(100%);
}
.buttons .button:active{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    border: none;
}
.buttons .merge{
    width: 160px;
    font-size: 48px;
}